[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/Adrephos/dwm
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Adrephos/nvim
[submodule ".config/dunst"]
	path = .config/dunst
	url = https://github.com/Adrephos/dunst
[submodule ".config/batify"]
	path = .config/batify
	url = https://github.com/Adrephos/batify
