[submodule ".config/dwm"]
	path = .config/dwm
	url = https://github.com/Adrephos/dwm
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/Adrephos/nvim
[submodule ".config/dunst"]
	path = .config/dunst
	url = https://github.com/Adrephos/dunst
[submodule ".config/batify"]
	path = .config/batify
	url = https://github.com/Adrephos/batify
[submodule ".config/i3"]
	path = .config/i3
	url = https://github.com/Adrephos/i3.git
[submodule ".config/i3status"]
	path = .config/i3status
	url = https://github.com/Adrephos/i3status.git
